<div class="container mt-5">
  @if (amiiboDetail()) {
  <div class="row animate__animated animate__bounce animate__fadeIn">
    <div class="col-md-9">
      <p>
        <strong>Identifier:</strong>
        {{ amiiboDetail().head + amiiboDetail().tail }}
      </p>
      <p><strong>Name:</strong> {{ amiiboDetail().name }}</p>
      <!-- <p>
        <strong>Size:</strong> {{ amiiboDetail().width }} -
        {{ amiiboDetail().height }}
      </p>
      <p><strong>URL:</strong> {{ amiiboDetail().url }}</p> -->
      <img
        style="width: 50%; height: 50%"
        src="{{ amiiboDetail().image }}"
        alt="img-test"
        class="rounded"
      />
    </div>
    <div class="col-md-3">
      <a class="btn btn-danger" routerLink="/">Back</a>
    </div>
  </div>
  }
</div>

<!-- /* "dataGroups": [
    {
      "name": "amiibo-api",
      "urls": [
        "https://amiiboapi.com/api/*",
        "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/*"
      ],
      "cacheConfig": {
        "maxSize": 100,
        "maxAge": "1h",
        "timeout": "2s",
        "strategy": "freshness"
      }
    }
  ] */ -->