<div class="container mt-5">
  <div class="w-100 d-flex">
    <button mat-raised-button color="warn" class="ms-auto" routerLink="/">Back</button>
  </div>
  @if (giveawayDetail()) {
  <div class="row animate__animated animate__bounce animate__fadeIn">
    <div class="col-md-12">
      <h1>{{ giveawayDetail().title }}</h1>
      <mat-expansion-panel [(expanded)]="showAllDetails" class="my-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ showAllDetails ? "Hide details" : "Show all details" }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Worth:</strong> {{ giveawayDetail().worth }}</p>
            <p><strong>Type:</strong> {{ giveawayDetail().type }}</p>
            <p><strong>Platforms:</strong> {{ giveawayDetail().platforms }}</p>
            <p><strong>Status:</strong> {{ giveawayDetail().status }}</p>
            <p><strong>Users:</strong> {{ giveawayDetail().users }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Published Date:</strong> {{ giveawayDetail().published_date | date:'dd/MM/yyyy' }}</p>
            <p><strong>End Date:</strong> {{ giveawayDetail().end_date | date:'dd/MM/yyyy' }}</p>
            <p><strong>Open Giveaway URL:</strong> <a href="{{ giveawayDetail().open_giveaway_url }}" target="_blank">{{ giveawayDetail().open_giveaway_url }}</a></p>
            <p><strong>Gamerpower URL:</strong> <a href="{{ giveawayDetail().gamerpower_url }}" target="_blank">{{ giveawayDetail().gamerpower_url }}</a></p>
          </div>
        </div>
        <div>
          <strong>Description:</strong>
          <pre>{{ giveawayDetail().description }}</pre>
        </div>
        <div>
          <strong>Instructions:</strong>
          <pre>{{ giveawayDetail().instructions }}</pre>
        </div>
        <div class="text-center">
          <img
            style="width: 50%; height: 50%"
            src="{{ giveawayDetail().image }}"
            alt="img-test"
            class="rounded"
          />
        </div>
      </mat-expansion-panel>
    </div>
  </div>
  }
</div>
